.navbar {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    background-color: #969798;
    font-family: Impact, fantasy;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    margin: 0 20px;
    font-size: 35px;
    font-family: Brush Script MT, Brush Script Std, cursive; 
}

input {
    text-align: center;
    border-radius: 5px;
    border: 5px;
}

.name {
    color: #ffc800;
    text-align: center;
    padding: 5px;
    background-color: #f8f9fa;
    font-size: 40px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.image2 {
    margin: 50px;
    text-align: center;
}

h3 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 35px;
}

.back2 {
    background: radial-gradient(red, blue);
}

p {
    font-size: 22px;
}